<!--文物编辑界面-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head"></head>
<body class="hold-transition  sidebar-mini bg-gray ">
<div class="wrapper">
    <!-- 顶部导航栏 Navbar -->
    <nav th:replace="fragments/layout::topNav"></nav>
    <!-- 侧边导航栏 Main Sidebar Container -->
    <aside th:replace="fragments/layout::leftAside"></aside>

    <!--页面内容 Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">

        </div>
        <!-- 页面主要内容Main content -->
        <div class="content">
            <div class="container-fluid">
                <!-- 内容 -->

                <div class="row" style="color: black;">
                    <div class="col-12">
                        <div class="card">

                            <!-- 表格 -->
                            <div class="card-header" style="padding: 8px"> <i class="fa fa-fw fa-edit"></i>编辑文物信息
                                <a class="btn btn-primary btn-sm float-right" th:href="@{/culturalInfo}"> <i
                                        class="fa fa-list"></i> 返回文物列表</a>
                            </div>
                            <div class="card-body">
                                <form class="needs-validation" th:action="@{/update}" method="post" novalidate id="CulturalRelicsEditForm" >
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="id">文物编号 <span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control" id="id" th:name="id" readonly="readonly"
                                                    th:field="${cultural_relic.id}">
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label for="name">文物名称 <span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control" id="name"
                                                   th:name="name" required ="required"
                                                   th:field="${cultural_relic.name}">
                                            <div class="invalid-feedback">文物名称不能为空!</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="age">文物朝代 <span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control"  id="age"
                                                   th:name="age" required ="required"
                                                   th:field="${cultural_relic.age}">
                                            <div class="invalid-feedback">文物朝代不允许为空!</div>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label for="wareHouse">所在仓库<span class="text-danger">(*)</span></label>
                                            <select class="form-control" id="wareHouse" th:name="wareHouse">
                                                <option th:value="${cultural_relic.wareHouse}" th:text="${cultural_relic.wareHouse}"></option>
                                                <option th:each="item,eee: ${warehouses}" th:value="${item.warehouseName}" th:text="${item.warehouseName}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="number">数量 <span class="text-danger">(*)</span></label>
                                            <input type="number" class="form-control"  id="number"
                                                   th:name="number" required min="0"
                                                   th:field="${cultural_relic.number}">
                                            <div class="invalid-feedback">数量必须大于0!</div>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label for="size">尺寸 <span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control" id="size"
                                                   th:name="size" required ="required"
                                                   th:field="${cultural_relic.size}">
                                            <div class="invalid-feedback">尺寸不能为空!</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label for="material">材质 <span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control"  id="material"
                                                   th:name="material" required ="required"
                                                   th:field="${cultural_relic.material}">
                                            <div class="invalid-feedback">材质不允许为空!</div>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label for="source">来源 <span class="text-danger">(*)</span></label>
                                            <input type="text" class="form-control" id="source"
                                                   th:name="source" required ="required"
                                                   th:field="${cultural_relic.source}">
                                            <div class="invalid-feedback">文物来源不能为空!</div>
                                        </div>
                                    </div>
                                    <hr class="mb-4">
                                    <button class="btn btn-primary btn-lg btn-block"
                                            type="submit">更新文物
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    <!-- 底部页脚Footer -->
    <footer class="main-footer" th:replace="fragments/layout::footer"></footer>
</div>

</div>


<script>
    $(function () {
        checkForm();
    })
    // 表单输入框数据校验
    function checkForm() {
        $("#CulturalRelicsEditForm").submit(function (event) {
            const f = $(this)  //获取当前对象
            if (f[0].checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            f.addClass("was-validated")
        })
    }




</script>


</body>

</html>
