<!--员工管理界面-->

<!--文物估值界面-->


<!--文物拍照界面-->
<!--原型界面-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head"></head>
<body class="hold-transition  sidebar-mini bg-black ">
<div class="wrapper">
    <!-- 顶部导航栏 Navbar -->
    <nav th:replace="fragments/layout::topNav"></nav>
    <!-- 侧边导航栏 Main Sidebar Container -->
    <aside th:replace="fragments/layout::leftAside"></aside>

    <!--页面内容 Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="text-dark">职工管理</h1>
                    </div>
                    <!--   面包屑-->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/employees}">Home</a></li>
                            <li class="breadcrumb-item active">职工管理</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- 页面主要内容Main content -->
        <div class="content">
            <div class="container-fluid">
                <!-- 内容 -->

                <div class="row" style="color: black;">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <!-- 添加按钮-->

                                <a class="btn btn-primary btn-sm "  th:href="@{/AddStaff}"> <i
                                        class="fa fa-plus-square"></i> 添加职工</a>

                                <!-- TODO:搜索框 ，如果不需要这个功能可以删除-->
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 200px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="搜索">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 表格 -->
                            <div class="card-body table-responsive p-0" style="height: 500px;">
                                <table class="table table-head-fixed text-nowrap table-bordered table-hover table-striped my-table"
                                       id="userTable">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>用户名</th>
                                        <th>职务</th>
                                        <th>账号</th>
                                        <th>密码</th>
                                        <th style="width: 240px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- TODO:修改真实数据 -->
                                    <tr>
                                        <td>1</td>
                                        <td>梁老师</td>
                                        <td>馆长</td>
                                        <td>1000</td>
                                        <td>123</td>
                                        <td>
                                            <!-- TODO:href为通过id获取用户信息(格式:/../../id),用于填充到编辑框 -->
                                            <a href="./employeesEdit.html"
                                               class="btn btn-secondary btn-sm toggle-edit-modal-btn">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                编辑</a>
                                            <!-- TODO:href为删除用户的接口,(格式:/../../id),删除成功需要返回?result=1,用于提示用户操作成功 -->
                                            <a href="./profile.html?result=1" class="btn btn-danger btn-sm delete-confirm-btn"  onclick=" return deleteConfirm()">
                                                <i class="fa fa-trash-alt" aria-hidden="true"></i>
                                                删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 分页 -->
                            <div class="card-footer clearfix">
                                <ul class="pagination pagination-sm m-0 float-right">
                                    <!-- TODO:需要根据数据库条数判断-->
                                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- 底部页脚Footer -->
    <footer class="main-footer" th:replace="fragments/layout::footer"></footer>
</div>
</body>
</html>
