<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::head"></head>
<body class="hold-transition  sidebar-mini bg-black ">
<div class="wrapper">
    <!-- 顶部导航栏 Navbar -->
    <nav th:replace="fragments/layout::topNav"></nav>
    <!-- 侧边导航栏 Main Sidebar Container -->
    <aside th:replace="fragments/layout::leftAside"></aside>

    <!--页面内容 Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="text-dark">文物拍照</h1>
                    </div>
                    <!--   面包屑-->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">文物拍照</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- 页面主要内容Main content -->
        <div class="content">
            <div class="container-fluid">
                <!-- 内容 -->

                <div class="row" style="color: black;">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">


<!--                                <form th:method="post" action="">-->
<!--                                <div style="width: 100%;height: 30px;">-->
<!--                                    <div style="width: 30%;height: 30px;float: left;margin-left: 2%">-->
<!--                                        <input required min="1" name="imgId" id="imgFileName" type="number" value="" placeholder="请输入文物编号" style="border:0.5px solid #378888;border-radius: 10px;width: 100%;height: 30px;"/>-->
<!--                                        <button type="submit" style="">√</button>-->
<!--                                    </div>-->
<!--                                    <div style="width: 30%;height: 30px;float: left;margin-left: 6%">-->
<!--                                        <label for="imgW" style="font-size: 10px;width: 20%">图片宽度:</label>-->
<!--                                        <input type="number" value="" id="imgW" placeholder="默认是原图宽度" style="border:0.5px solid #378888;border-radius: 10px;width: 70%;height: 30px;"/>-->
<!--                                    </div>-->
<!--                                    <div style="width: 30%;height: 30px;float: left;margin-left: 2%">-->
<!--                                        <label for="imgH" style="font-size: 10px;width: 20%">图片高度:</label>-->
<!--                                        <input type="number" value="" id="imgH" placeholder="默认是原图高度" style="border:0.5px solid #378888;border-radius: 10px;width: 70%;height: 30px;"/>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <form th:method="post" action="">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label>文物编号 <span class="text-danger">(*)</span></label>
                                            <input required min="1" name="imgId" id="imgFileName"
                                                   type="number" value="" placeholder="请输入文物编号" style="border:0.5px solid #378888;border-radius: 10px;width: 90%;height: 30px;"/>
                                            <div class="invalid-feedback">文物编号必须大于0!</div>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label>文物尺寸</label>
                                            <input type="number" value="" id="imgW" placeholder="默认是原图宽度" style="border:0.5px solid #378888;;width: 45%;height: 30px;border-radius: 10px;"/>
                                            <input type="number" value="" id="imgH" placeholder="默认是原图高度" style="border:0.5px solid #378888;;width: 45%;height: 30px;border-radius: 10px;"/>
                                            <div class="invalid-feedback">尺寸不能为空!</div>
                                        </div>
                                    </div>
                                    <button style="width: 100%;color: #fff;background: #0a90f5;border-width:0px;height: 30px;border-radius:10px;margin-top: 15px;"
                                            type="button">确认文物编号以及尺寸
                                    </button>
                                </form>


                                <div style="width: 100%;height: 40px;float: left;margin-top: 20px;margin-bottom: 20px">
                                    <input type="button" title="开启摄像头" value="开启摄像头" onclick="getMedia()" style="color: #fff;background: #0a90f5;outline: none;border-width:0px;width: 25%;height: 30px;border-radius:10px;"/>
                                    <button id="snap" onclick="takePhoto()" style="color: #fff;background: #0a90f5;outline: none;border-width:0px;width: 25%;height: 30px;border-radius:10px;margin-left: 12%">拍照</button>
                                    <button class="toCanvas" style="color: #fff;background: #0a90f5;outline: none;border-width:0px;width: 25%;height: 30px;border-radius:10px;margin-left: 12%">确认并保存</button>
                                </div>

                                <div style="width:30%;height:310px;float: left;margin-left: 10%">
                                    <video id="video" width="300px" height="300px" autoplay="autoplay"></video>
                                </div>
                                <div style="width:30%;height:310px;float: left;margin-left: 20%" class="test">
                                    <canvas id="canvas" width="300px" height="300px"></canvas>
                                </div>

<!--                                <video id="video" width="300px" height="300px" autoplay="autoplay" style="margin-left: 20%"></video>-->
<!--                                <canvas id="canvas" width="300px" height="300px" class="test" style="margin-left: 20%"></canvas>-->


                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <!-- 底部页脚Footer -->
    <footer class="main-footer" th:replace="fragments/layout::footer"></footer>
</div>



<script th:src="@{/bootstrap4/js/jquery.min.js}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<script th:src="@{/bootstrap4/js/canvas2image.js}"></script>
<script type="text/javascript">
    //获得video摄像头区域
    let video = document.getElementById("video");
    function getMedia() {
        let constraints = {
            video: {width: 300, height: 300},
            audio: false
        };
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        }).catch(function (PermissionDeniedError) {
            console.log(PermissionDeniedError);
        })
    }
    function takePhoto() {
        //获得Canvas对象
        let canvas = document.getElementById("canvas");
        let ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 300, 300);

    }



    var test = $(".test").get(0); //将jQuery对象转换为dom对象
    $('.toCanvas').click(function(e) {
        // 调用html2canvas插件
        html2canvas(test).then(function(ctx) {
            // canvas宽度
            var canvasWidth = ctx.width;
            // canvas高度
            var canvasHeight = ctx.height;
            // 调用Canvas2Image插件
            //var img = Canvas2Image.convertToImage(ctx, canvasWidth, canvasHeight);

            let type = $('#sel').val(); //图片类型
            let w = $('#imgW').val(); //图片宽度
            let h = $('#imgH').val(); //图片高度
            let f = "cultural"+$('#imgFileName').val(); //图片文件名
            w = (w === '') ? canvasWidth : w; //判断输入宽高是否为空，为空时保持原来的值
            h = (h === '') ? canvasHeight : h;
            // 调用Canvas2Image插件
            Canvas2Image.saveAsImage(ctx, w, h, type, f);
        });
    });
</script>

</body>
</html>
