<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <title>用户登录界面</title>
  <link  th:href="@{/loginResources/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/loginResources/css/signin.css}"  rel="stylesheet">
  <style>
    #loginDiv:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  </style>
</head>


<body class="text-center"  th:style="'background:url(' + @{/images/bg.jpg} + ');'+'background-repeat: no-repeat;background-size:100% 100%;'">
<!--  用户登录form表单 -->
  <div id="loginDiv" style="background: white;height: auto;width: auto;border-radius:16px;padding-left: 20px; padding-right: 20px;padding-top: 10px;opacity: 0.98;">
    <img th:src="@{/images/logo1.png}" alt="" style="margin-top: -28px;">
    <h2 class="font-weight-bold" style="margin-top: -20px;">文物管理系统</h2>
    <form class="form-signin" th:method="post" action="loginPage" style="padding-top: 20px;">
      <!--  <img class="mb-4" th:src="@{/login/img/login.jpg}" width="72" height="72">-->
      <h3 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}" >请登录</h3>

      <div th:if="${param.error}" style="color: red;height: 40px;text-align: center;font-size: 1em">
        <img th:src="@{/images/loginError.jpg}" width="20px">用户名或密码错误，请重新登录！
      </div>

      <div th:if="${param.ban}" style="color: red;height: 40px;text-align: center;font-size: 1em">
        <img th:src="@{/images/loginError.jpg}" width="20px">无权限访问，请登录！
      </div>

      <input type="text" class="form-control"
             th:placeholder="#{login.username}" required="" autofocus="" name="number">
      <input type="password" class="form-control" th:placeholder="#{login.password}"
             required="" name="password">
<!--      记住我-->
<!--      <div class="checkbox mb-3">-->
<!--        <label>-->
<!--          <input type="checkbox" value="remember-me">[[#{login.rememberme}]]-->
<!--        </label>-->
<!--      </div>-->

      <button class="btn btn-lg btn-primary btn-block" type="submit"  th:text="#{login.button}">登录
      </button>
      <p class="mt-5 mb-3 text-muted">© <span th:text="${currentYear}" >2018</span>-<span
              th:text="${currentYear}+1">2019</span></p>
      <a class="btn btn-sm"  th:href="@{/tologin(l='zh_CN')}" >中文</a>
      <a class="btn btn-sm"  th:href="@{/tologin(l='en_US')}" >English</a>
    </form>
  </div>
</body>
</html>
